.greetingVideoContainer {
  margin: 2.8em 2em 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 2em;
}

.greetVidSection {
  border-radius: 12px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.greetVidSection::before {
  content: "";
  padding-top: 56.25%;
  display: block;
}

.videoLandscapeThumb {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.playIconContainer {
  position: absolute;
  cursor: pointer;
  left: 1em;
  bottom: 1em;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.playIcon {
  font-size: 1.3em;
  border: 0;
  color: white;
}

@media (max-width: 767px) {
  .greetingVideoContainer {
    margin: 1.5em 1em 1em;
    grid-template-columns: 1fr;
    gap: 1em;
  }
}
