.kahaniMainDiv {
  background-size: contain;
  background-repeat: repeat;
  background-attachment: scroll;
  margin-top: 6em;
}

.upload-video-box {
  border-radius: 15px;
  width: 244px;
  min-width: 244px;
  max-width: 314px;
}

.first-page-content .title {
  font-weight: bold;
  position: relative;
  margin-bottom: 18px;
}

.first-page-content .title:after {
  content: "";
  height: 4px;
  width: 50px;
  bottom: -8px;
  left: 50%;
  position: absolute;
  background-color: #f96332;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.upload-video-box input {
  border-bottom: 1px solid #dcdada !important;
}

.upload-video-box input[type="file"] {
  width: calc(100% + 78px);
  visibility: visible !important;
  position: absolute;
  left: -78px;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}

.upload-video-box .file-label {
  background-color: #f96332;
  color: white;
  padding: 0px 4.5px;
  cursor: pointer;
}

.upload-video-box .file-chosen {
  margin-left: 0.4rem;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}

.buttonSubmitKahani {
  background: rgb(249, 99, 50) !important;
  height: 40px;
  width: 136px;
  border-radius: 100px;
}

.buttonSubmitKahaniUpload {
  background: rgb(249, 99, 50) !important;
  height: 40px;
  width: 136px;
  border-radius: 100px;
  font-size: 12px;
}

.kahanivideoContainer {
  width: 100%;
  border: 4px solid #fff;
  border-radius: 4px;
  width: calc(100vw - 460px);
}

.mobileContianer {
  width: auto;
  height: auto;
  border: 0;
  border-radius: 0;
  padding: 0;
  background: none;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.kahanivideo-dimensions {
  width: auto;
  height: auto;
}

.videoGreetMain {
  height: calc((100vw - 440px) * 5 / 9) !important;
  max-height: 90vh;
  width: 100% !important;
}

.videoGreetMain .video-js {
  height: 100%;
  width: 100%;
}

.profile_video_new-dimensions {
  /* width: 100% !important;
  height: auto !important;  */
}

.videoGreetMain .vjs-tech {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.promoBanner {
  /* minHeight: 100vh; */
  background-size: contain;
  background-repeat: repeat;
  background-attachment: scroll;
}

@media screen and (max-width: 767px) {
  .upload-video-box {
    width: 100% !important;
    max-width: 92% !important;
    padding: 40px 20px !important;
    margin: 20px 15px !important;
  }
  .upload-video-box form .form-group.upload {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .kahaniMainDiv {
    margin-top: 1em;
  }
  .kahanivideoContainer {
    width: calc(100vw - 40px);
    margin-bottom: 2rem;
  }
  .videoGreetMain {
    height: calc((100vw - 90px) * 5 / 9) !important;
  }
}
